*~*
*.orig
*.class
*closure
classpath
.settings
*stacktrace
.classpath
.project
.DS_Store
stacktrace.log
dtd/
target
prodDb.log
prodDb.properties
prodDb.script
newrelic.log
ml-build/

*.iws
*.iml
*.ipr
out/*
.idea/*

*.prefs